<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit an Article</title>
		<meta charset="utf-8" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
				<div class="jumbotron2">
					<h1 align="center">Title: <%= @article.title %></h1>
				</div>
			<%= render 'form' %>
		</div>

</html>