<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit an Article</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/stylesheets/uptown.css" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
		<header>
		<h1>Edit an Article</h1>
		</header>
		
	<%= render 'form' %>


</html>