<!DOCTYPE HTML>
<html>
	<head>
		<title>ALPHA BLOG</title>
		<meta charset="utf-8" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
    <%= render 'shared/errors', obj: @user %>
			<div class="jumbotron">	
	<div class="center">
	<h1>EDIT Your Account</h1> 
	<%= render 'form' %>
