<!DOCTYPE HTML>
<html>
	<head>
		<title>About Page</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/stylesheets/custom.css.scss" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
		<header>
		<h1>About Page</h1>
		</header>
	</html>