<!DOCTYPE html>
<html>
<head>
	<title>ALPHA BLOG</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
		<h1>ALPHA BLOG</h1>
		<p>sign up button works so try it out!</p><br>
		<p><a class="btn btn-primary btn-lg" href="%3C%=%20signup_path%20%%3E" role="button">Sign Up</a></p>
	</div>
</body>
</html>