<!DOCTYPE HTML>
<html>
	<head>
		<title>ALPHA BLOG</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/stylesheets/uptown.css" />
		<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    </head>
		<header>
		<h1>ALPHA BLOG</h1>
		</header>
		<section id="grid">
				<div class="alert notice">
          <dl>
          <dt>Sections</dt>
          <dd><%= link_to 'About', about_path %></dd>
          <a href="#" class="button">HERE</a>
          
          </dl>
		</section>
			
			<section>
				<article>
					<div class="columns six card">
						<div class="row">
  						<label>Label</label>
  						<input type="text" />
					</div>
					<div class="row">
  						<label><input type="radio" name="option1a" checked="checked">Option</label>
  						<label><input type="radio" name="option1a">Option</label>
					</div>
					<div class="row">
  						<select><option>Select</option></select>
					</div>
					<div class="row">
  						<label><input type="checkbox" name="option2a" checked="checked">Option</label>
  						<label><input type="checkbox" name="option2a">Option</label>
					</div>
					<div class="row">
  						<textarea></textarea>
					</div>
					</div>
					</article>
					</section>
				<footer>
				<!--	<a href="#" class="button">Default</a>  -->
				</footer>
</html>