<!DOCTYPE HTML>
<html>
	<head>
		<title>ALPHA BLOG</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="assets/stylesheets/uptown.css" />
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    </head>
		<header>
		<h1>ALPHA BLOG</h1>
		</header>
		<section id="grid">
				<div class="alert notice">
          <dl>
          <dt>Sections</dt>
          <dd><%= link_to 'About', about_path %></dd>
          <dd><%= link_to 'Articles', articles_path %></dd>
          </dl>
		</section>
</html>