
$navbar-default-bg: #1afcd4;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 2.0em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  font-family: 'Shrikhand', cursive;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(pineapple_02.jpg);
    background-position: 30% 30%;
    background-size: 100% 100%;
    height: 550px;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Shrikhand', cursive;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron2 {
    margin-bottom: 0px;
    background-image: url(pineapple_02.jpg);
    background-position: 100% 100%;
    background-size: 100% 100%;
    height: 200px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5%;
}

.jumbotron2 h1 {
    font-size: 50.0px;
    font-weight: normal;
    line-height: 1.2em;
    color: white;
    font-family: 'Shrikhand', cursive;
    text-shadow: black 0.1em 0.1em 0.1em;
    
}

.table-heading {
  float: left;
  color: Black;
  font-family: 'Shrikhand', cursive;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid ;
  color: black;
}