
$navbar-default-bg: #1afcd4;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 2.0em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: normal;
  font-family: 'Shrikhand', cursive;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(pineapple_02.jpg);
    background-position: 30% 30%;
    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Shrikhand', cursive;
    text-shadow: black 0.3em 0.3em 0.3em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid ;
  color: #777;
}